<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Jubas - Our Mascot</title>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">JUBAS</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="home">Home</a>
            <a class="nav-link active" href="about">About</a>
            <a class="nav-link" href="gallery">Gallery</a>
          </nav>
        </div>
      </header>

      <section id="about">
        <h3>History</h3>
        <p>The mascot of Sporting Clube de Portugal is a lion. Sometimes, a real lion has already performed at the José Alvalade Stadium, with its King's mane, its sharp teeth and powerful claws.</p>

        <p>
          In May 2003, Sporting launched a contest to create a mascot that appealed to the fans' affection and imagination, especially the younger ones. This contest was an integral part of the
          project “S3G - Sporting 3rd generation” which aimed to modernize the Club, its symbols, and its relationship with the members. Thus, the new mascot should transmit values ​​such as
          "modernity, strength and determination", without however forgetting the traditional values ​​"effort, dedication, devotion and glory". The winner of the contest was due to be announced on
          July 1, 2003, but this only happened in December of the following year. The Jubas project was born, the official mascot of Sporting Clube de Portugal.
        </p>

        <p>
          However, the project was dormant until the end of 2010, when it was reactivated in force. On the 25th of November of that year, a casting took place to select sportinguistas to give life to
          Jubas, as a big, friendly and fun lion. So, for all intents and purposes, 2011 was Jubas' first year of life.
        </p>

        <h3>Jubas in Alvalade</h3>
        <p>
          Jubas has participated in numerous events. Assiduous presence at the games in Alvalade, he made numerous visits to primary schools, kindergartens, and accompanied the Tour do Leão, an
          initiative in which, before each game away, a sports activity is carried out with young people and children from Academia Sporting Schools Of region. It also participates in all Leo
          initiatives involving children, such as the Sporting Race or the Sporting Christmas party.
        </p>

        <h3>Jubas Day June 19, 2011</h3>
        <p>
          On June 19, 2011 Sporting held the first «Jubas Day», taking thousands of children and people to Alvalade. There was a Jubas show on the main stage at Praça Centenáro, inflatables,
          children's car exterior painting, face painting, dancing, and many other activities. Also participating were Ricky van Wolfswinkel, and the Sporting futsal team, who showed the cup of
          national champions they had won the previous day.
        </p>

        <p>Jubas quickly became very popular with young “lions” fans, and gives its name to countless products, from clothes to school supplies, dolls, and DVDs.</p>
      </section>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Jubas, by <a href="https://github.com/asxisto">André Xisto</a> - Ironhack Jun 2020</p>
        </div>
      </footer>
    </div>
  </body>
</html>
