<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Jubas - Our Mascot</title>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">JUBAS</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="home">Home</a>
            <a class="nav-link" href="about">About</a>
            <a class="nav-link" href="gallery">Gallery</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Our Mascot</h1>
        <p class="lead">Jubas is the Sporting Mascot since 2011</p>
        <p class="lead">
          <a href="about" class="btn btn-lg btn-success">Know Jubas</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Jubas, by <a href="https://github.com/asxisto">André Xisto</a> - Ironhack Jun 2020</p>
        </div>
      </footer>
    </div>
  </body>
</html>
